{% extends "base.html" %}
{% block content %}
    <h1>Prevention DM Agent Details</h1>
    <ul class="list list--bulleted list--compact">
      <li><b>DM ID</b>: {{data["id"]}}</li>
        <li><b>DM Type</b>: {{data["dm_type"]}}</li>
    </ul>
<h2>Indicator Types</h2>
    <div class="table-wrap">
    <table class="table table--striped table--hover table--sticky">
        <tr>
            <th><b>Applicable Types</b></th>
        </tr>
        <tr>
            <td>
                <ul class="list  list--bulleted list--compact">
                    {% for value in data["indicator_types"] %}
                            <li>{{ value }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
        </div>
<h2>Hardened IS</h2>
    <div class="table-wrap">
    <table class="table table--striped table--hover table--sticky">
        <tr>
            <th><b>IS ID</b></th><th><b>Hardening Lifespan</b></th>
        </tr>
        {% for key in data["hardened_is"].keys() %}
        <tr>
            <th class="btn">
                {{key}}
            </th>
            <td>
                 {{data["hardened_is"][key]}}
            </td>
        </tr>
        {% endfor %}
    </table>
        </div>
<h2>DM Knowledge Base</h2>
    <div class="table-wrap">
    <table class="table table--striped table--hover table--sticky">
        <tr>
            <th><b>Indicator ID</b></th><th><b>Type</b></th><th><b>Pattern</b></th>
        </tr>
        {% for key in data["knowledge_base"].keys() %}
        <tr>
            <td>
                {{data["knowledge_base"][key]["id"]}}
            </td>
            <td>
                 {{data["knowledge_base"][key]["type"]}}
            </td>
             <td>
                 {{data["knowledge_base"][key]["pattern"]}}
            </td>
        </tr>
        {% endfor %}
    </table>
        </div>
<br>
{% endblock %}