{% extends "base.html" %}
{% block content %}
    <h1>Coordinator Details</h1>
    <ul class="list list--bulleted list--compact">
      <li><b>Coordinator ID</b>: {{data["id"]}}</li>
        <li><b>Remaining Time Steps</b>: {{data["time_steps"]}}</li>
        <li><b>Current Time </b>: {{data["current_time"]}}</li>
        <li><b>Used Ports</b>: {{data["ports"]}}</li>
    </ul>
    <h2>Registered Agents</h2>
    <div class="table-wrap">
    <table class="table table--striped table--hover table--sticky">
     {% for key, value in data["registered"].items() %}
        <tr>
            <th>Agent ID</th>
            <td>{{key}}</td>
            <th>URL</th>
            <td><a href="{{ value+'/status' }}"  target="_blank" rel="noopener noreferrer">{{ value+"/status" }}</a></td>
        </tr>
        {% endfor %}
    </table>
        </div>
    <br>
    <h2>Threat Actor Agents</h2>
    <div class="table-wrap">
    <table class="table table--striped table--hover table--sticky">
     {% for key, value in data["TA"].items() %}
        <tr>
            <th>Agent ID</th>
            <td>{{key}}</td>
            <th>Agent Host</th>
            <td>{{ value["host"] }}</td>
            <th>Agent Port</th>
            <td>{{ value["port"] }}</td>
            <th>Agent Type</th>
            <td>{{ value["agent_type"] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br>
    <h2>Defense Mechanisms Agents</h2>
    <div class="table-wrap">
    <table class="table table--striped table--hover table--sticky">
     {% for key, value in data["DM"].items() %}
        <tr>
            <th>Agent ID</th>
            <td>{{key}}</td>
            <th>Agent Host</th>
            <td>{{ value["host"] }}</td>
            <th>Agent Port</th>
            <td>{{ value["port"] }}</td>
            <th>Agent Type</th>
            <td>{{ value["agent_type"] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br>
    <h2>Information System Agents</h2>
    <div class="table-wrap">
    <table class="table table--striped table--hover table--sticky">
        {% for key, value in data["IS"].items() %}
        <tr>
            <th>Agent ID</th>
            <td>{{key}}</td>
            <th>Agent Host</th>
            <td>{{ value["host"] }}</td>
            <th>Agent Port</th>
            <td>{{ value["port"] }}</td>
            <th>Agent Type</th>
            <td>{{ value["agent_type"] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <br>
    <h2>CTI Agents</h2>
    <div class="table-wrap">
    <table class="table table--striped table--hover table--sticky">
     {% for key, value in data["CTI"].items() %}
        <tr>
            <th>Agent ID</th>
            <td>{{key}}</td>
            <th>Agent Host</th>
            <td>{{ value["host"] }}</td>
            <th>Agent Port</th>
            <td>{{ value["port"] }}</td>
            <th>Agent Type</th>
            <td>{{ value["agent_type"] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}